//variables
$primaryColor:#4b85b2;
$secundaryColor:#6bad7a;
$secundaryColorVariation:#4c9469;
$textColorPrimary: #ffffff;
$textColorSecundary: #082b46;
$blackColor: black;
$backgroundTitle: #0073ce;
$backgroundBlue: lightblue;
$subMenuBackground: #ffffffe8;
$tabColor:grey;
$tabActiveColor:#2f332f;
